table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

.hidden {
  background-color: gray;
}

.revealed {
  background-color: white;
}

.mine {
  background-color: black;
}
